

body {
    font-family: "Poppins", "Open Sans", serif;
    color: #0a0a0a;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins", serif;
}
a {
    color: #d52b26;
}
.title-rc{
    color: #F49735;
}
.border-rc{
    border-color: #ffffff !important;
    border: 1px solid;
}
//badge
.badge-all {
    color: #fff;
    background-color: #F49735 ;
}
.btn .badge {
    position: absolute;
}
.btn-dual {
    background-color: transparent;
    border-color: transparent;
}
.btn-dual:hover, .btn-dual:focus, .btn-dual.focus {
    background-color: transparent;
    border-color: transparent;
}
.si{
    font-size: 20px;
}
.si-icon-rc {
    font-size: 15px;
}

.fa {
    font-size: 25px;
}
.btn-dual{
    padding: 0;
}

//bg status blocks
.bg-all {
    background-color: #F49735 !important;
}
.bg-new {
    background-color: #F435A6 !important;
}
.bg-pending {
    background-color: #F4C535 !important;
}
.bg-done {
    background-color: #A7B8AD !important;
}
.bg-sav {
    background-color: #081123 !important;
}
.bg-problem {
    background-color: #F43535 !important;
}
.bg-activation {
    background-color: #3577F4 !important;
}
//bg status blocks dynamic

.bg-1 {
    background-color: #F435A6 !important;
}
.bg-2 {
    background-color: #F4C535 !important;
}
.bg-3 {
    background-color: #14d400 !important;
}

.bg-4 {
    background-color: #006fff !important;
}
.bg-5 {
    background-color: #001ed4 !important;
}
.bg-6 {
    background-color: #000e7a !important;
}
.bg-7 {
    background-color: #A7B8AD !important;
}
.bg-8 {
    background-color: #F43535 !important;
}
.bg-9 {
    background-color: #F43535 !important;
}
.bg-sav {
    background-color: #081123 !important;
}

//badge dynamic
.badge-1 {
    color: #fff;
    background-color: #F435A6;
}
.badge-2 {
    color: #fff;
    background-color: #F4C535;
}

.badge-3 {
    color: #fff;
    background-color: #14d400;
}

.badge-4 {
    color: #fff;
    background-color: #006fff;
}
.badge-5 {
    color: #fff;
    background-color: #001ed4;
}
.badge-6 {
    color: #fff;
    background-color: #000e7a;
}
.badge-7 {
    color: #fff;
    background-color: #A7B8AD;
}
.badge-8 {
    color: #fff;
    background-color: #F43535;
}
.badge-9 {
    color: #fff;
    background-color: #F43535;
}

.border-all{
    border-color: #F49735 !important;
}
.border-1{
    border-color: #F435A6 !important;
}
.border-2{
    border-color: #F4C535 !important;
}
.border-3{
    border-color: #14d400 !important;
}
.border-4{
    border-color: #006fff !important;
}
.border-5{
    border-color: #001ed4 !important;
}
.border-6{
    border-color: #000e7a !important;
}
.border-7{
    border-color: #A7B8AD !important;
}
.border-8{
    border-color: #F43535 !important;
}
.border-9{
    border-color: #F43535 !important;
}
.border-10{
    border-color: #2c2421 !important;
}


.color-all{
    color: #F49735 !important;
}
.color-1{
    color: #F435A6 !important;
}
.color-2{
    color: #F4C535 !important;
}
.color-3{
    color: #14d400 !important;
}
.color-4{
    color: #006fff !important;
}
.color-5{
    color: #001ed4 !important;
}
.color-6{
    color: #000e7a !important;
}
.color-7{
    color: #A7B8AD !important;
}
.color-8{
    color: #F43535 !important;
}
.color-9{
    color: #F43535 !important;
}

//notif
.new-notif{
    background-color: #fff0e0;
}


//Badge
.badge-new {
    color: #fff;
    background-color: #F435A6;
}
.badge-pending{
    color: #fff;
    background-color: #F4C535;
}
.badge-done{
    color: #fff;
    background-color: #A7B8AD;
}
.badge-sav{
    color: #fff;
    background-color: #081123;
}
.badge-problem{
    color: #fff;
    background-color: #F43535;
}
.badge-activation{
    color: #fff;
    background-color: #3577F4;
}
.badge-pill-rc {
    padding-right: 1.6em;
    padding-left: 1.6em;
    border-radius: 1px;
}
//Menu
.nav-main-link.active {
    color: #FFF;
    background-color: #d52b26 !important;
}
.nav-main-link.active > .nav-main-link-icon {
    color: #FFF;
}

//Blocks
.block-content {
    padding: 10px;
}
.dashboard-rc h1 {
    margin-bottom: 0;
}
.marg-btm-rc{
    margin-bottom: 6px;
}
.marg-btm-rc-phone{
    padding-top: 4px;
}
.nav-main-submenu .nav-main-link.active {
    color: #fff;
    padding-left: 10px;
}

//
.block.block-themed > .block-header-rc{
    border-bottom: solid 1px #e0e0e0;
    color: #000;
    background-color: #5c80d1;
}
.block.block-themed > .block-header-rc > .block-title {
    color: rgba(51, 51, 51, 0.9);
}
.block.block-themed .btn-block-option-rc {
    color: #000;
    opacity: 0.7;
}
.bg-primary-lighter-rc {
    background-color: #FFF !important;

}
.btn-primary-rc, .btn-alt-primary {
    color: #fff;
    background-color: #d52b26;
    border-color: #d52b26;
}
.btn-primary-rc:hover, .btn-alt-primary:hover {
    color: #fff;
    background-color: #db140f;
    border-color: #db140f;
}
//btn

.btn-wdth-rc{
    width: 100%;
}

.btn-outline-danger {
    color: #FF0000;
    border-color: #FF0000;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}
.btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 1);
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #FF0000;
    background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 1);
}
.btn-success {
    color: #fff;
    background-color: #14D400;
    border-color: #14D400;
}
.btn-success:hover {
    color: #fff;
    background-color: #14D400;
    border-color: #14D400;
}
.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #14D400;
    border-color: #14D400;
    box-shadow: 0 0 0 0.2rem rgba(20, 212, 0, 1);
}
.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #14D400;
    border-color: #14D400;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #14D400;
    border-color: #14D400;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(20, 212, 0, 1);
}
.form-control {
    background-color: #f5f5f5;
}
.img-avatar{
    border-radius: 0%;
}
.marg-lft-rc{
    margin-left: 10px;
}
.table th, .table td {
    padding: 0.35rem;
}
.rctab .tds{
    width: 15%;
    border-right: 1px solid #f5f5f5;
    padding: 10px;
}
.rctab .tdsp{
    padding: 10px;
}
.rctab .tds .fa{
    font-size: 15px;
}

//form
.form-control-rc {
    background-color: #F49735;
}
.form-control-rr {
    background-clip: padding-box;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
}

//input file
.label-file {
    cursor: pointer;
    color: #f3b760;
    font-weight: bold;
}
.label-file:hover {
    color: #F49735;
}

// et on masque le input
.input-file {
    display: none;
}

//conversation

.conversation-wrapper .conversation-inner {
    padding: 0 0 5px 0;
    margin-right: 10px;
}
.conversation-wrapper .conversation-user {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    background-clip: padding-box;
    margin-top: 6px;
}
.conversation-wrapper .conversation-item {
    padding: 5px 0;
    position: relative;
}
.conversation-wrapper .conversation-item.item-right .conversation-body { background: #fce6dc }
.conversation-wrapper .conversation-item.item-right .conversation-body:before {
    border-color: transparent transparent transparent #fce6dc;
    left: auto;
    right: -12px;
}
.conversation-wrapper .conversation-item.item-right .conversation-user { float: right }
.conversation-wrapper .conversation-item.item-right .conversation-body {
    margin-left: 0;
    margin-right: 60px;
}
.conversation-wrapper .conversation-body {
    background: #f5f5f5;
    font-size: 0.875em;
    width: auto;
    margin-left: 60px;
    padding: 8px 10px;
    position: relative;
    border-radius: 3px;
    background-clip: padding-box;
}
.conversation-wrapper .conversation-body:before {
    border-color: transparent #f5f5f5 transparent transparent;
    border-style: solid;
    border-width: 6px;
    content: "";
    cursor: pointer;
    left: -12px;
    position: absolute;
    top: 25px;
}
.conversation-wrapper .conversation-body>.name {
    font-weight: 600;
    font-size: 1.125em;
}
.conversation-wrapper .conversation-body>.time {
    position: absolute;
    font-size: 0.875em;
    right: 10px;
    top: 0;
    margin-top: 10px;
    color: #605f5f;
    font-weight: 300;
}

@media (max-width: 767px){
    .hidden-xs {
        display: none!important;
    }
}

.conversation-wrapper .conversation-body>.text { padding-top: 6px }
.conversation-wrapper .conversation-new-message { padding-top: 10px }
.widget-users {
    list-style: none;
    margin: 0;
    padding: 0;
}

.theme-white .conversation-item.item-right .conversation-body:before {
    border-color: transparent transparent transparent #e2fdee; }
.theme-white .conversation-item.item-right .conversation-body, .theme-white .invoice-summary .invoice-summary-item {
    background-color: #fce6dc; }


//Photo Upload
.container-image {

}
.container-image h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}
.container-image h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
}
.container-image .avatar-upload {
    position: relative;

    margin: 10px 0 20px 0;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 10px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\e05f";
    font-family: "simple-line-icons";
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    height: 192px;
    position: relative;
    border-radius: 5px;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-link {
    display: block;
}


.block.block-rounded {
    border-radius: 0;
}
.search-filter, .search-filter .form-row{
    margin-bottom: 0!important;
}


.bg-primary-dark {
    background-color: #bf1d1d !important;
}


.bg-flat-dark-op {
    background-color: rgb(190 190 190 / 80%) !important;
}



.block.block-rounded {
    border: 1px solid #e9e9e9;
}

.select2-selection__choice {
    color: #fff !important;
    background-color: #e41323 !important;
}

.list-group-item.active {
    background-color: #e41323;
    border-color: #e83d4a;
    color: #fff;
    z-index: 2;
}

.badge-primary {
    background-color: #e41323;
    color: #fff;
}

#results{
    margin-top: 20px;
}

#core_factors{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #d6f4e8;
}

#spouse_factors{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #d6f4e8;
    margin-top: 10px;
}

#skill_factors{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #d6f4e8;
    margin-top: 10px;
}
#totals{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #d6f4e8;
    margin-top: 10px;
}



