:root {
    --progress-color: #e31324;
    --progress-width: 100%;
    --progress-height: 15px;
    --progress-raduis: 20px;
    --progress-bgc: #e31324;
}

body,
html,
#meeting-show {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#meeting-show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt__containner {
    height: 100%;
    width: 100%;
    padding: 10px 100px 0;
    display: flex;
    flex-direction: column;
}

.mt__header {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.mt__header img {
    width: 180px;
}

.mt__header .image__containner {
    width: 200px;
    height: 140px;
}

.mt__progress {
    height: 30px;
    /* background-color: chartreuse; */
    padding: 0 8px;
    display: flex;
}

.mt__progress progress {
    height: 100%;
    padding: 8px 0px;
}
.mt__progress p {
    display: block;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 700;
}

.mt__progress progress[value] {
    width: var(--progress-width);
    -webkit-appearance: none;
    appearance: none;
}

.mt__progress progress[value]::-webkit-progress-bar {
    height: var(--progress-height);
    border-radius: var(--progress-raduis);
    background-color: #dadfe1;
}

.mt__progress progress[value]::-webkit-progress-value {
    height: var(--progress-height);
    border-radius: var(--progress-raduis);
    background-color: var(--progress-bgc);
    transition: all 0.5s ease-out;
}

.mt__main {
    margin-top: 15px;
    display: flex;
    height: 550px;
}

.mt__main .mt__timer-wrapper {
    height: inherit;
    width: 50%;
    border-right: 5px solid #dadfe1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt__main .mt__timer-main {
    height: 100px;
    width: 50%;
    background: #dadfe1;
    color: #e31324;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt__main .mt__content-wrapper {
    height: inherit;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mt__main .mt__content-main {
    height: 75%;
    width: 80%;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.mt__containner button {
    height: 37px;
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
    margin-right: 30px;
    outline: none;
    border: none;
    background-color: #dadfe1;
    color: #e31324;
}

.mt__containner button:hover {
    background-color: #ccd0d2;
    transition: all 0.5s ease-out;
    outline: none;
    border: none;
}

.mt__containner button:focus {
    outline: none;
    border: none;
}

.mt__containner button a:hover {
    color: #e31324;
}

.mt__main .mt__no-content {
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt__footer {
    align-self: self-end;
}
