@import "common";
@import "variables/colors";
@import "animation";

.rcw-launcher {
    @include animation(0, 0.5s, slide-in);
    align-self: flex-end;
    background-color: #e56767;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 1px $grey-3;
    height: 70px;
    margin-top: 10px;
    cursor: pointer;
    width: 70px;

    &:focus {
        outline: none;
    }
}

.rcw-open-launcher {
    width: 30px;
    @include animation(0, 0.5s, rotation-rl);
}

.rcw-close-launcher {
    width: 20px;
    @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px) {
    .rcw-launcher {
        @include launcher-fs;
    }

    .rcw-hide-sm {
        display: none;
    }
}
// layout style
.rcw-widget-container {
    bottom: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    position: fixed;
    right: 25px;
    z-index: 9999;
}

.rcw-full-screen {
    @include widget-container-fs;
}

@media screen and (max-width: 800px) {
    .rcw-widget-container {
        height: 100%;
        @include widget-container-fs;
    }
}

.rcw-previewer .rcw-message-img {
    cursor: pointer;
}

.rcw-close-widget-container {
    height: max-content;
    width: max-content;
}
// conversation content
.rcw-call {
    background-color: white;
    padding: 25px;
}
.rcw-conversation-container {
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px $grey-3;
    min-width: 420px;
    max-width: 90vw;
    position: relative;

    &.active {
        display: block;
        // opacity: 1;
        transform: translateY(0px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &.hidden {
        display: none;
        z-index: -1;
        pointer-events: none;
        display: none;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
}

.rcw-conversation-resizer {
    cursor: col-resize;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}

.emoji-mart-preview {
    display: none;
}

.rcw-full-screen {
    .rcw-conversation-container {
        @include conversation-container-fs;
    }
}

@media screen and (max-width: 800px) {
    .rcw-conversation-container {
        @include conversation-container-fs;
    }
}
// Header

.rcw-conversation-container {
    .rcw-header {
        background-color: #e56767;
        border-radius: 10px 10px 0 0;
        color: $white;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px 0 25px;
    }

    .rcw-title {
        font-size: 24px;
        margin: 0;
        padding: 15px 0;
    }

    .rcw-close-button {
        display: none;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.rcw-full-screen {
    .rcw-header {
        @include header-fs;
    }

    .rcw-title {
        @include title-fs;
    }

    .rcw-close-button {
        @include close-button-fs;
    }

    .rcw-close {
        @include close-fs;
    }
}

@media screen and (max-width: 800px) {
    .rcw-conversation-container {
        .rcw-header {
            @include header-fs;
        }

        .rcw-title {
            @include title-fs;
        }

        .rcw-close-button {
            @include close-button-fs;
        }

        .rcw-close {
            @include close-fs;
        }
    }
}
