@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@nt-b-color:#337ab7;@nt-b-style:dashed;

body {
	padding: 20px;
	font-family: "open sans";
	color: #555;
}

label {
	font-weight: 600;
}

table {
	margin-bottom: 0 !important;
	tbody > tr > td:first-child {
		width: 2%;
		white-space: nowrap;
	}
}

span.fa {
	transition: all 400ms;
	&:hover {
		cursor: pointer !important;
		color: #333;
	}
}
.tr-selected{
	>td:not(:first-child){
		background-color:@nt-b-color;
		color:#fff
	}
}
.tr-detail {
	> td {
		padding: 0 !important;
		padding-bottom: 10px !important;
		&:first-child {
			
		}
border-top: none !important;
		&:not(:first-child) {
			// border-top-color:@nt-b-color;
			// border-top-width:2px;
			padding: 5px 5px 5px 5px;
		}
	}
}

.detail-content {
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul {
		li {
			border: 2px @nt-b-style lighten(@nt-b-color, 0%);
			border-width: 0 0 0px 1px;
			display: flex;
			.detail {
				margin: 0;
				padding:0 10px 5px 0;
				margin-bottom: 10px;
				flex-grow: 1;
				flex-basis: 100%;
				fieldset{
					border: 1px solid lighten(@nt-b-color, 20%);
					legend{
						font-size:90%;
						margin-left:5px;
						width:auto;
						margin-bottom:0;
						border:none;
					}
					>div{
						margin-left:5px;
						margin-right:12px;
						table.table-condensed{
							tbody>tr>td{
								padding:2px;
							}
						}
					}
				}
			
				&:first-child {
					border-top: 1px @nt-b-style lighten(@nt-b-color, 0%);
					flex-basis: 2%;
					background: #fff;
					margin-top: 15px;
				}
			}
			&:first-child {
				padding-top: 5px;
			}
			&:last-child {
				margin-bottom: 20px;
				> .detail {
					margin-bottom: 0;
					&:first-child {
						margin-left: -1px;
					}
				}
			}
		}
	}
}