//
// Grid
// --------------------------------------------------

// Tiny grid gutters
.row.gutters-tiny {
    margin-right: (-($space-row-gutter-tiny * 0.5));
    margin-left: (-($space-row-gutter-tiny * 0.5));

    > .col,
    > [class*="col-"] {
        padding-left: ($space-row-gutter-tiny * 0.5);
        padding-right: ($space-row-gutter-tiny * 0.5);
    }

    .push,
    .block,
    &.items-push > div {
        margin-bottom: $space-row-gutter-tiny;
    }
}

// Responsive grid gutters
@include media-breakpoint-down(sm) {
    .row:not(.gutters-tiny):not(.no-gutters) {
        margin-right: (-($space-mobile * 0.5));
        margin-left: (-($space-mobile * 0.5));

        > .col,
        > [class*="col-"] {
            padding-left: ($space-mobile * 0.5);
            padding-right: ($space-mobile * 0.5);
        }
    }
}

// Equal height of elements inside columns
.row.row-deck > div {
    display: flex;
    align-items: stretch;

    > .block {
        min-width: 100%;
    }
}
